/* Form Editor ***************************************************************************************************/
.formeditor{
    position:relative;
    width:100%;
}
.formeditor form{
    margin:0;
    padding:0;
}

/* Form Table Layout *********************************************************************************************/
.formeditor table,.formeditor tr,.formeditor td{
    border:solid 0px blue;
}
.formeditor .editors{
    position:relative;
    top:5%;
    left:5%;
    width:90%;
    line-height:24px;
}
.formeditor .title{
    font-weight:bolder;
    margin-bottom:24px;
    border:solid 0px blue;
    width:100%;
}
.formeditor .title .content{
    font:20px arial;
    font-weight:bold;
    line-height:40px;
    margin-left:12px;
}
.formeditor .title .toolbar{
    float:right;
    border:solid 0px red;
    padding:0;
    margin:0;
    line-height:40px;
}
.formeditor .title .toolbar a{
    padding:6px 12px;
    font:12px arial;
    line-height:24px;
    margin:0px 6px 0px 2px;
	text-decoration: none;
    border-radius:6px;
}
.formeditor .formbody{
    position:relative;
    max-height:90%;
    overflow:auto;
    border:solid 0px red;
	padding: 0px 24px 24px 0px;
}
.formeditor .editors{
    height:90%;
}
.formeditor .editors table{
    width:100%;
}
.formeditor .editors table .label {
	text-align: right;
	width: 100px;
	padding-right: 6px;
	font-weight: bolder;
}
.formeditor .editors table input, .formeditor .editors table button{
    width:100%;
    outline:none;
    outline-width:0px;
    line-height:18px;
    padding:4px;
}
.formeditor .editors table div.editor {
	width: 100%;
	height: 30px;
}
.formeditor .editors table .short input{
    width:200px;
    margin-right:6px;
}
.formeditor .editors table input[type=file]{
    width:86px;
}
.formeditor .editors table input.urlbox{
    width:50%;
}

.formeditor .cmd{
    text-align:center;
    margin-top:12px;
}
.formeditor .cmd a{
    padding:12px;
    margin-right:12px;
    margin-left:12px;
    text-decoration:none;
}

/* Creators *********************************************************/
.formeditor .editors table .inputbtncreator input {
	float: left;
	width: 80%;
	margin-right: 4px;
}

.formeditor .editors table .inputbtncreator button, .formeditor .editors table .imgupcreator .file {
	float: left;
	width: 90px;
	height: 28px;
}

.formeditor .editors table .imgupcreator .preview {
	clear: both;
}

.formeditor .editors table .imgupcreator .file {
	overflow: hidden;
	text-align: center;
	height: 28px;
	margin-left: 4px;
	position: relative;
}

.formeditor .editors table .imgupcreator .file input[type=file] {
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.formeditor .editors table .imgupcreator .url {
	float: left;
	width: 80%;
}

