.cell-editor input{
	line-height:24px;
	padding:0px 4px 0px 4px;
	margin-bottom:8px;
	width:100%;
	overflow:auto;
	white-space:pre-line;
	border-bottom:solid 1px #c0c0c0;
}

.cell-editor .cmdbar{
	width:100%;
	height:48px;
}
.cell-editor .cmdbar .btn{
	float:left;
	font:10px arial;
	line-height:24px;
	color:#ccc;
	text-align:center;
	padding:4px 8px 4px 8px;
	margin:4px 4px 4px 0;
	cursor:pointer;
	border:solid 1px #808080;
	border-radius:4px;
	background-color:#333;
}
.cell-editor .cmdbar .btn:hover{
	color:#fff;
	background-color:#999;
}

div.boxer {
	display: table;
	border: solid 2px #555;
	border-radius: 0px;
	padding: 6px;
	/*border-collapse: collapse;*/
}

div.boxer .box-row {
	display: table-row;
}

div.boxer .box-row .box {
	display: table-cell;
	text-align: left;
	vertical-align: top;
	border: solid 1px black;
	cursor: pointer;
}

div.boxer .box-row .box .vbox {
	min-width: 24px;
	min-height: 24px;
	line-height: 24px;
	padding:0 4px 0 4px;
	border: none;
	white-space: nowrap;
}

div.boxer .box-row .box .ext {
	padding: 6px;
}

div.boxer .box.dirty, div.boxer .box.dirty .box.dirty {
	border: dashed 1px #555;
	background-color: #222;
}
div.boxer .box.dirty .box{
	border: solid 1px #222;
}

div.boxer .box.wall {
	min-width: 24px;
}

div.boxer .box-row.head .box, div.boxer .box.wall {
	border: solid 1px #333;
	background-color: #222;
	text-align: center;
	vert-align: middle;
}

div.boxer .box:hover, div.boxer .box:hover.highlight {
	/*border: solid 1px green;*/
}

div.boxer .box.selected {
	border: solid 1px #008080;
}

div.boxer .box.selected > .vbox, div.boxer .box.selected.highlight > .vbox {
	background-color: #444;
}

div.boxer .box.highlight {
	/*border: solid 1px lightblue;*/
}

.node div.boxer *, .node div.boxer .box *, .node div.boxer .box.dirty *{
    border: none !important;
    background-color: transparent !important;
    color: black !important;
}
