@media (min-width: 768px) {
  .container, .row{
      clear:both;
  }
  .container {
    width: 100%;
  }
  .container .row{
    width:100%;
  }
  .container .row .col-1
  ,.container .row .col-2
  ,.container .row .col-3
  ,.container .row .col-4
  ,.container .row .col-5
  ,.container .row .col-6
  ,.container .row .col-7
  ,.container .row .col-8
  ,.container .row .col-9
  {
      position:relative;
      float:left;
	  word-wrap: break-word;
  }
  .container .row .col-1{
      width:10%;
  }
  .container .row .col-2{
      width:20%;
  }
  .container .row .col-3{
      width:30%;
  }
  .container .row .col-4{
      width:40%;
  }
  .container .row .col-5{
      width:50%;
  }
  .container .row .col-6{
      width:60%;
  }
  .container .row .col-7{
      width:70%;
  }
  .container .row .col-8{
      width:80%;
  }
  .container .row .col-9{
      width:90%;
  }
  .container .row .offset{
      left:12px;
  }
  .container .row .offset-1{
      left:10%;
  }
  .container .row .offset-2{
      left:20%;
  }
  .container .row .offset-3{
      left:30%;
  }
  .container .row .offset-4{
      left:40%;
  }
  .container .row .offset-5{
      left:50%;
  }
  .container .row .offset-6{
      left:60%;
  }
  .container .row .offset-7{
      left:70%;
  }
  .container .row .offset-8{
      left:80%;
  }
  .container .row .offset-9{
      left:90%;
  }
}
