#{$root}.theme-basic .popup{
	background:#fff;
}
#{$root}.theme-basic .cover{
	background-color:black;
}
#{$root}.theme-basic .dropdown{
	border:solid 1px silver;
}
#{$root}.theme-basic .dropdown .toggle{
}
#{$root}.theme-basic .dropdown .toggle input[type=text]{
}
#{$root}.theme-basic .dropdown .toggle .caret-container{
}
#{$root}.theme-basic .dropdown .toggle .caret.right{
}
#{$root}.theme-basic .simple-menu{
	border:solid 1px silver;
	background-color:#fff;
}
#{$root}.theme-basic .simple-menu-item{
}
#{$root}.theme-basic .simple-menu-item a{
	color:black;
}
#{$root}.theme-basic .simple-menu-item:hover{
	background-color:#EEE;
}
#{$root}.theme-basic .popup.form .caption{
	color:black;
}
#{$root}.theme-basic .popup.form .btns .btn{
	color:#999;
}
#{$root}.theme-basic .popup.form .btns .btn:hover{
	color:#fff;
	background:silver;
}

#{$root}.theme-basic .textbox-editor *{
	color:black;
}
#{$root}.theme-basic .textbox-editor textarea{
	border:solid 1px silver;
}
#{$root}.theme-basic .textbox-editor button{
	border:solid 1px gray;
	background:silver;
}
#{$root}.theme-basic .textbox-editor button:hover{
	color:white;
	background:gray;
}