.xui button {
  padding: 8px;
  border-radius: 4px; }

.xui .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  opacity: 0.4; }

.xui .cover.fixed {
  position: fixed; }

.xui .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999999;
  padding: 8px;
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat; }

.xui .popup img {
  width: 72px; }

.xui .popup.form {
  min-width: 400px;
  min-height: 300px; }

@media (max-width: 480px) {
  .xui .popup.form {
    min-width: 200px;
    min-height: 150px; } }

.xui .popup.form .caption {
  font: 16px arial;
  line-height: 24px;
  padding: 6px 24px 6px 6px;
  margin-right: 32px;
  font-weight: bolder; }

.xui .popup.form .btns {
  position: absolute;
  top: 12px;
  right: 12px; }

.xui .popup.form .btns .btn {
  width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  font: 21px arial;
  border-radius: 24px;
  text-align: center;
  cursor: pointer;
  float: right; }

.xui .popup.form .btns .btn.bmax {
  line-height: 20px; }

.xui .textbox-editor .tarea {
  position: absolute;
  top: 48px;
  left: 16px;
  right: 12px;
  bottom: 54px; }

.xui .textbox-editor .tarea textarea {
  width: 100%;
  height: 100%; }

.xui .textbox-editor .barea, .xui .cell-editor .barea {
  position: absolute;
  right: 12px;
  bottom: 12px; }

.xui .dropdown {
  width: 100%;
  padding: .5em; }

.xui .dropdown .toggle {
  width: 100%; }

.xui .dropdown .toggle input[type=text] {
  width: 100%;
  height: 100%;
  padding-right: 2em;
  border: none;
  background: none; }

.xui .dropdown .toggle .caret-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2em;
  padding-top: .5em;
  text-align: center;
  cursor: pointer; }

.xui .dropdown .toggle .caret.right {
  position: absolute;
  top: 1em;
  right: .5em; }

.xui .simple-menu {
  display: none;
  list-style-type: none;
  position: absolute; }

.xui .simple-menu-item {
  line-height: 2em;
  padding: 0 .5em 0 .5em;
  cursor: pointer; }

.xui .simple-menu-item a {
  text-decoration: none; }

.xui.theme-basic btn, .xui.theme-basic button, .xui.theme-basic textarea, .xui.theme-basic .caption {
  color: #000; }

.xui.theme-basic .popup {
  border: solid 1px silver;
  background: #fff; }

.xui.theme-basic .cover {
  background-color: black; }

.xui.theme-basic .dropdown {
  border: solid 1px silver; }

.xui.theme-basic .simple-menu {
  border: solid 1px silver;
  background-color: #fff; }

.xui.theme-basic .simple-menu-item:hover {
  background-color: #aaa; }

.xui.theme-basic .popup.form .btns .btn {
  color: #999; }

.xui.theme-basic .popup.form .btns .btn:hover, .xui.theme-basic .popup.form button:hover {
  color: #fff;
  background: #aaa; }

.xui.theme-basic .popup.form button {
  border: solid 1px silver; }

.xui.theme-dark btn, .xui.theme-dark button, .xui.theme-dark textarea, .xui.theme-dark .caption {
  color: #999; }

.xui.theme-dark .popup {
  border: solid 1px #eee;
  background: #111; }

.xui.theme-dark .cover {
  background-color: black; }

.xui.theme-dark .dropdown {
  border: solid 1px #999; }

.xui.theme-dark .simple-menu {
  border: solid 1px #999;
  background-color: #111; }

.xui.theme-dark .simple-menu-item:hover {
  background-color: #333; }

.xui.theme-dark .popup.form .btns .btn {
  color: #999; }

.xui.theme-dark .popup.form .btns .btn:hover, .xui.theme-dark .popup.form button:hover {
  color: #fff;
  background: #333; }

.xui.theme-dark .popup.form button {
  border: solid 1px #999; }

